body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}
.first-banner{
    background-image: url(images/donation7a.jpg) ;
   
   
}

h1{
    font-size: 40px;
    
}
.color-white{
    color: white;
}
.text-center{
    padding: 50px 500px;
    text-align: center;
}
.orange-button{
    padding: 10px 20px;
    background-color: #FF5959;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
.tk-amount{
    display: inline-block;
    padding: 2%;
    box-shadow: 2px 2px 50px #F0EAD6
    
}
#colour-amount{
    color: #FF5959;
    border: 2px solid orangered;
    background-color:#FFEEEE;
}
.opacity{
  
    opacity: 0.4;
}
.flex-container{
    display: flex;
    width: 80%;
    padding-left: 200px;
   
}
.third-width{
    padding-left: 10px;
    padding-top: 30px;
    width: 33%;
    
}
#food{
    background: #4f9da61a;
    margin-right: 10px;
    border-radius: 5px;
   
}
#shelter{
    background: #ff59591a;
    margin-right: 10px;
    border-radius: 5px;
}
#education{
    background:wheat ;
    margin-right: 10px;
    border-radius: 5px;
}
 
#become-volunteer{
    background-color: #F5F5DC;
    padding-bottom: 15px;
    margin-right: 10px;
    border-radius: 5px;
}
#donation-prcess{
    background-image: url(images/donateus2.jpg);
    background-repeat: no-repeat;
    text-align:left;
    margin-right: 10px;
    border-radius: 5px;

}
.mail-box{
    background:wheat;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 400px;
    margin-right: 400px;

}
.footer-orange{
    color: #FF5959;
    
   
}
h6{
    color: white;
}
#footer-background{
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
#mail{
    background-color:#dbd7d2;
    padding: 5px 10px;
}
span{
    background-color: #FF5959;
    padding: 4px 10px;
}
section{
    padding-top: 50px;
}